
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Registrate</h1>
    <mat-form-field appearance="fill" class="container">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="container">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="container">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" appPasswordStrength
            (input)="onInputPassword($event.target.value)" />
        <mat-hint *ngIf="passwordStrength" [style.color]="passwordStrengthColor">Fortaleza: {{ passwordStrength }}</mat-hint>

    </mat-form-field>
    <!-- <div *ngIf="form.get('password')?.value" >
        
    </div> -->



    <button mat-raised-button color="primary" type="submit">Registrarse</button>
    <button mat-button routerLink="/login">Ya tenés cuenta? Iniciá sesión</button>

</form>